.title_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border-radius: 5px;
  padding: 10px;
  background-color: #FFD700;
}

.title{
  color: black;
  font-weight: bold;
}